.skills-container {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.skill-item {
  width: 100%;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar {
  width: 100%;
  height: 12px;
  background: #dcdcdc;
  border-radius: 10px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background: var(--primary);
  border-radius: 10px;
  transition: width 1s ease;
}
